@import '../../vars_and_mixins/colors.scss';
@import '../../App.scss';

.body-main-section{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 93%;
    height: 80%;
    padding-left:7vw;
}

.body-main-box{
    width: 95%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.body-top{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height: 25%;
}

%body-medium-bottom-box{
    display:flex;
    flex-direction: row;
    height: 30%;
    justify-content: space-between;
}

.body-medium-box{
    @extend %body-medium-bottom-box;
}

.body-bottom-box{
    @extend %body-medium-bottom-box;
}


