@import '../../vars_and_mixins/colors.scss';

.aside{
    width: 7vw;
    height: 100%;
    background-color: $primaryBackgroundColor;
    border-right: 1px solid $mainBorderColor;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    position:absolute;
    top:0;
    left:0;
  }

  .box-aside-main{
    height: 90%;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  
  .box-aside-icons{
    height: 50%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:80%;
  }

  .aside-icon{
    padding-bottom:3vw;
  }

  .aside-icon:last-child{
    padding-bottom:0;
  }

  .button-switch-black-theme{
    width: 4vw;
    height: 2vw;
    background-color: $graphMainColor;
    border: 1px solid $graphMainColor;
    border-radius: 1vw 1vw 1vw 1vw;
    display:flex;
    align-items: center;
  }

  .button-switch-black-theme-cirlce{
    margin-right: 0.3vw;
    width: 1vw;
    height: 1vw;
    background-color: $graphMainColor;
    border: 0.4vw solid $textColorBlackTheme;
    border-radius: 1vw 1vw 1vw 1vw;
    margin-left:2vw;
    transition: 1s margin-left;
  }