$mainBackgroundColor: #212427;
$primaryBackgroundColor: #282C31;
$mainBorderColor: #4D4D4D;
$textColorBlackTheme:#CACACA;
$secondaryTextColor:#979797;
$graphMainColor:#7F7FD5;


$mainBackgroundColorWhiteTheme: #EFF3F9;
$primaryBackgroundColorWhiteTheme: #FDFDFF;
$borderWhiteTheme: #4F4F4F;
$mainBorderColorWhiteTheme: #CACACA;
$textColorWhiteTheme:#4F4F4F;
$textSecondaryWhiteTheme:#979797;

