@mixin mobile500(){
	@media (max-device-width: 500px){
		.body-top{
			height: 20%;
		}
		.body-medium-box{
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
			height: 60%;
			width: 100%;
		}
		.body-bottom-box{
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
			height: 100%;
			width: 100%;
		}
		.body-top-box-container{
			height: 90%;
		}
		.body-main-section{
			height: 90%;
			justify-content: space-evenly;
		}
		.candle-box-legend{
			width: 30%;
		}
		.box-legend{
			width: 35%;
		}
		.candle-graph-box-text{
			width: 25%;
		}
		.search{
			height: 60%;
			width: 50%;
		}
		.text-name-user{
			font-size: 3vw;
		}
		.title-graph{
			width: 100%;
			height: 20%;
		}
		.header-box-user{
			width: 17.5%;
		}
		.avatar-icon{
			height: 6vw;
			width: 6vw;
		}
		.icon-graphs{
			width: 3vw;
			height: 3vw;
		}
		.circle-graph-text-box{
			width: 90%;
			justify-content: center;
		}
		.title-candle-graph{
			width: 95%;
		}
		.secondary-text{
			font-size: 50%;
		}
		.lineal-graph{
			margin-top: 10px;
			width: 100%;
			height: 50%;
		}
		.box-graph-circle{
			display: none;
		}
		.text-for-mobile{
			display: flex;
		}
		.date{
			font-size: 2vw;
		}
		.icon-graph{
			font-size: 1.5vw;
		}
		.small-text{
			font-size: 1.8vw;
		}
		.circle-graph{
			width: 100%;
			height: 30%;
		}
		.candle-graph{
			height:45%;
			width: 100%;
		}
		.geo-statistic{
			height: 45%;
			width: 100%;
		}
		.main-text{
			font-size: 3.5vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
		}
		.percentage-text{
			font-size: 2.5vw;
		}
		.aside{
			width: 5vw;
		}
		.aside{
			width: 7vw;
		}
		.box-aside-icons{
			height: 100%;
		}
		.aside-icon{
			height: 5vw;
			width: 5vw;
		}
		.circle{
			width: 20vw;
		}
		.text-country{
			font-size: 2.5vw;
		}
		.value-conutry{
			font-size: 2.5vw;
		}
		.small-text{
			font-size: 3vw;
		}
		.secondary-small-text{
			font-size: 3vw;
		}
		.title-geo-statistic-graph{
			width:100%;
		}
	}
}
@mixin mobile1000(){
	@media (min-device-width: 500px) and (max-device-width: 1000px){
		.text-name-user{
			font-size: 2vw;
		}
		.date{
			font-size: 1vw;
		}
		.icon-graph{
			font-size: 1vw;
		}
		.small-text{
			font-size: 1vw;
		}
		.main-text{
			font-size: 1.5vw;
		}
		.percentage-text{
			font-size: 1.75vw;
		}
		.text-country{
			font-size: 1.5vw;
		}
		.value-conutry{
			font-size: 1.5vw;
		}
		.small-text{
			font-size: 1.5vw;
		}
		.secondary-small-text{
			font-size: 1.5vw;
		}
	}
}
