@import './vars_and_mixins/colors.scss';
@import './vars_and_mixins/theme.scss';
@import './vars_and_mixins/media.scss';
@import 'Base.scss';

.App {
  text-align: center;
  height: 100vh;
  @include mobile500();
  @include mobile1000();
}
body {
  background-color: $mainBackgroundColor;
  height: 100%;
}




